.idea/

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.tfvars
**/crash.log

*.drawio.bkp

# Generated Kubernetes secret manifests
manifests/overlays/staging/do-not-commit.yaml
